@import url("https://use.typekit.net/ije5iye.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Cairo+Play:wght@200..1000&family=Dela+Gothic+One&family=Harmattan:wght@400;500;600;700&family=Kiwi+Maru&family=Lalezar&family=Oswald:wght@200..700&family=Palanquin+Dark:wght@400;500;600;700&family=Potta+One&family=RocknRoll+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&family=Tajawal:wght@200;300;400;500;700;800;900&family=ZCOOL+KuaiLe&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.scroll-snap {
  scroll-snap-stop: always;
}

.serif{
  font-family: "Frank Re", serif;
}

/* Custom Roboto Mono class */
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* New animation for headline color change */
@keyframes headlineFade {
  from { color: red; }
  0% { color: red; }
  50% { color: red; }
  100% { color: black; }
}
.animate-headline {
  animation: headlineFade 1.5s forwards;
}

@keyframes slowFade {
  from { opacity: 1; }
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-slow-fade {
  animation: slowFade 2s infinite;
}

.source-card:hover > .close-button {
  opacity: 1;
}

.frank-re {
  font-family: var(--font-frank-re);
  line-height: 1.1;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.timer-blink {
  animation: blink 1s step-start infinite;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  border-radius: 4px;
  display: none;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  display: block;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.1) transparent;
  overflow-y: auto;
  max-height: 100%;
}



#remove_me {
  contain: layout style;
  content-visibility: auto;
}

@layer base {
  ::selection {
    background: yellow; 
    color: blue;
  }
}