/* @import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Amiri&family=Oswald&family=Roboto&family=Rubik&family=RocknRoll+One&family=Sawarabi+Gothic&family=Potta+One&family=Kiwi+Maru&family=Dela+Gothic+One&family=Noto+Sans+JP&family=Noto+Sans+SC&family=ZCOOL+QingKe+HuangYou&family=ZCOOL+KuaiLe&family=Noto+Sans+Devanagari&family=Palanquin+Dark&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.scroll-snap {
  scroll-snap-stop: always;
}

.serif{
  font-family: "Frank Re", serif;
}

/* Custom Roboto Mono class */
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* New animation for headline color change */
@keyframes headlineFade {
  from { color: red; }
  0% { color: red; }
  50% { color: red; }
  100% { color: black; }
}
.animate-headline {
  animation: headlineFade 1.5s forwards;
}

@keyframes slowFade {
  from { opacity: 1; }
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-slow-fade {
  animation: slowFade 2s infinite;
}

.source-card:hover > .close-button {
  opacity: 1;
}

.frank-re {
  font-family: var(--font-frank-re);
  line-height: 1.1;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.timer-blink {
  animation: blink 1s step-start infinite;
}



.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
  border-radius: 4px;
  display: none;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  display: block;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.1) transparent;
  overflow-y: auto;
  max-height: 100%;
}



#remove_me {
  contain: layout style;
  content-visibility: auto;
}

@layer base {
  ::selection {
    background: yellow; 
    color: blue;     /* Text color when highlighted */
  }
}